.section-portfolio-masonary {
	padding-bottom: 30px;
}
.portfolio2-filter {
	position: relative;
	z-index: 1;
	text-align: center;
	margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
.portfolio2-filter .btn {
	font-size: 16px;
	padding: 0 5px;
}
}
.portfolio2-filter .btn:hover, .portfolio2-filter .btn:focus {
	color: #ffffff;
	background-color: #0c7cd5;
	border-color: #0b75c9;
	box-shadow: none;
}
.portfolio2.row {
	margin-right: -10px;
	margin-left: -10px;
}
.portfolio2 .col-12 {
	padding-left: 10px;
	padding-right: 10px;
}
.single_portfolio_item {
	position: relative;
	z-index: 10;
	margin-top: 20px;
	overflow: hidden;
	height: 400px;
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
.single_portfolio_item {
	height: 290px;
}
}
@media only screen and (max-width: 767px) {
.single_portfolio_item {
	height: 300px;
}
}
.single_portfolio_item .portfolio-thumbnail {
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
	width: calc(100% - 20px);
	position: absolute;
	height: 100%;
	top: 0;
	left: 10px;
	right: 10px;
	background-repeat: no-repeat;
	box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
}
.single_portfolio_item .portfolio-hover-overlay {
	width: calc(100% - 20px);
	height: 100%;
	top: 0;
	left: 10px;
	right: 10px;
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
	background-color: rgba(68,116,44, 0.8);
	position: absolute;
	z-index: 10;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
}
.single_portfolio_item .portfolio-hover-overlay a {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 30;
}
.single_portfolio_item .portfolio-hover-overlay a .port-hover-text h3 {
	color: #ffffff;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
.single_portfolio_item .portfolio-hover-overlay a .port-hover-text h3 {
	font-size: 20px;
}
}
@media only screen and (max-width: 767px) {
.single_portfolio_item .portfolio-hover-overlay a .port-hover-text h3 {
	font-size: 18px;
}
}
.single_portfolio_item .portfolio-hover-overlay a .port-hover-text h5 {
	font-size: 18px;
	margin-bottom: 0;
	color: #ffffff;
	font-weight: 400;
}
@media only screen and (max-width: 767px) {
.single_portfolio_item .portfolio-hover-overlay a .port-hover-text h5 {
	font-size: 14px;
}
}
.single_portfolio_item:hover {
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}
.single_portfolio_item:hover .portfolio-hover-overlay {
	opacity: 1;
	visibility: visible;
}
.portfolio-page .single_portfolio_item {
	height: 320px;
}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
	color: #ffffff;
	right: 0;
	text-align: center;
	padding-right: 0;
	top: 40px;
	width: 36px;
	height: 36px;
	background-color: rgba(0,0,0,0.50);
	line-height: 36px;
}
.mfp-bottom-bar {
	margin-top: 0;
	top: auto;
	bottom: 55px;
	left: 0;
	width: 100%;
	cursor: auto;
	background-color: transparent;
	padding: 0 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
}
.mfp-bottom-bar .mfp-title {
	line-height: normal;
	color: #ffffff;
	padding-right: 0;
	background-color: rgba(0,0,0,0.50);
	padding: 8px 20px;
	border-radius: 30px;
	font-size: 12px;
	font-weight: 700;
}
.mfp-bottom-bar .mfp-counter {
	color: #ffffff;
	position: relative;
	line-height: normal;
	background-color: rgba(0,0,0,0.50);
	padding: 8px 20px;
	border-radius: 30px;
	font-size: 12px;
	font-weight: 700;
}
.single_portfolio_item .portfolio-thumbnail {
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
	width: calc(100% - 20px);
	position: absolute;
	height: 100%;
	top: 0;
	left: 10px;
	right: 10px;
	background-repeat: no-repeat;
	box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
}
.bg-img {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-img {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
