
            <div>
                <a id="bottom" class="anchor" accesskey="z"></a>
                <!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
            </div>

            <script type="text/javascript" src="{T_JQUERY_LINK}"></script>

            <!-- IF S_ALLOW_CDN -->
                <script type="text/javascript">window.jQuery || document.write('\x3Cscript src="{T_ASSETS_PATH}/javascript/jquery.min.js?assets_version={T_ASSETS_VERSION}">\x3C/script>');</script>
            <!-- ENDIF -->

            <script type="text/javascript" src="{T_ASSETS_PATH}/javascript/core.js?assets_version={T_ASSETS_VERSION}"></script>
            <!-- INCLUDEJS forum_fn.js -->
            <!-- INCLUDEJS ajax.js -->

            <!-- IF S_ALLOW_CDN -->
                <script type="text/javascript">
                    (function($){
                        var $fa_cdn = $('head').find('link[rel="stylesheet"]').first(),
                            $span = $('<span class="fa" style="display:none"></span>').appendTo('body');
                        if ($span.css('fontFamily') !== 'FontAwesome' ) {
                            $fa_cdn.after('<link href="{T_ASSETS_PATH}/css/font-awesome.min.css" rel="stylesheet">');
                            $fa_cdn.remove();
                        }
                        $span.remove();
                    })(jQuery);
                </script>
            <!-- ENDIF -->


            <!-- EVENT overall_footer_after -->

            <!-- IF S_PLUPLOAD --><!-- INCLUDE plupload.html --><!-- ENDIF -->
            {$SCRIPTS}

            <!-- IF STYLE_SETTINGS_CONFIG_DARK_TOGGLE -->
            	<!-- INCLUDEJS js.cookie.js -->
            <!-- ENDIF -->

            <!-- IF STYLE_SETTINGS_CONFIG_DARK_TOGGLE -->
            <script type="text/javascript">

            // Set variables
            var light_stylesheet_src = '{T_STYLESHEET_LINK}';
            var dark_stylesheet_src = '{BOARD_URL}styles/Milk_v2/theme/colours_dark.css';

            // Is there a cookie set already?
            if(Cookies.get('Dark_Toggle_Cookie')) {
              // Cookie below

              // Cookie: Set stylesheet
              $("link.colour_switch_link").attr("href",Cookies.get('Dark_Toggle_Cookie'));

              // Cookie: Set icon & add dark_base class if necessary
              if(Cookies.get('Dark_Toggle_Cookie') == dark_stylesheet_src) {
                 $("i.dark_toggle_icon").addClass("fa-lightbulb-o");
                 $("body").addClass("dark_base");
              } else {
                $("i.dark_toggle_icon").addClass("fa-moon-o");
              }

              // Cookie: click function
              $("a.dark_toggle_link").click(function() {
                if(Cookies.get('Dark_Toggle_Cookie') == dark_stylesheet_src) {
                  $("link.colour_switch_link").attr("href",light_stylesheet_src);
                  $("i.dark_toggle_icon").addClass("fa-moon-o");
                } else {
                  $("link.colour_switch_link").attr("href",dark_stylesheet_src);
                  $("i.dark_toggle_icon").addClass("fa-lightbulb-o");
                }

                Cookies.set('Dark_Toggle_Cookie', $("link.colour_switch_link").attr('href'), { expires: 365, path: '/' });
                location.reload();
              });

            } else {
              // No cookie below

              // No cookie: Set the icon
              <!-- IF STYLE_SETTINGS_CONFIG_BASE_COLOUR == "Light" -->
                $("i.dark_toggle_icon").addClass("fa-moon-o");
              <!-- ELSEIF STYLE_SETTINGS_CONFIG_BASE_COLOUR == "Dark" -->
                $("i.dark_toggle_icon").addClass("fa-lightbulb-o");
              <!-- ENDIF -->

              // No cookie: Click function
              $("a.dark_toggle_link").click(function() {
                <!-- IF STYLE_SETTINGS_CONFIG_BASE_COLOUR == 'Light' -->
                  $("link.colour_switch_link").attr("href",dark_stylesheet_src);
                  $("body").addClass("dark_base");
                <!-- ELSEIF STYLE_SETTINGS_CONFIG_BASE_COLOUR == 'Dark' -->
                  $("link.colour_switch_link").attr("href",light_stylesheet_src);
                  //Replace this with just clearing the cookie?
                <!-- ENDIF -->
                Cookies.set('Dark_Toggle_Cookie', $("link.colour_switch_link").attr('href'), { expires: 365, path: '/' });
                location.reload();
              });
            }
            </script>
            <!-- ENDIF -->

</body>
</html>
