/* Portfolio Section
--------------------------------*/
#portfolio-flters {
	padding: 0;
	margin: 5px 0 35px 0;
	list-style: none;
	text-align: center;
}
#portfolio-flters li {
	cursor: pointer;
	margin: 15px 15px 15px 0;
	display: inline-block;
	padding: 12px 30px;
	border-radius: 0.2rem;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 5px;
	transition: all 0.3s ease-in-out;
	font-size: .75rem;
	margin: 0.3125rem 1px;
	line-height:1;
	
}
#portfolio-flters li:hover, #portfolio-flters li.filter-active {
	background: #00bcd4;
	color: #fff;
}
#portfolio-flters li:last-child {
	margin-right: 0;
}
.portfolio-wrap {
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
	transition: 0.3s;
}
.portfolio-wrap:hover {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}
.portfolio-item {
	position: relative;
	height: 270px;
	overflow: hidden;
}
.portfolio-item figure {
	background: #000;
	overflow: hidden;
	height: 240px;
	position: relative;
	border-radius: 6px;
	margin: 0;
}
.portfolio-item figure img {
	opacity: 0.7;
	transition: 0.3s;
}
.portfolio-item figure:hover img {
	opacity: 0.4;
	transition: 0.3s;
}
.portfolio-item figure .link-preview, .portfolio-item figure .link-details {
	position: absolute;
	display: inline-block;
	opacity: 0;
	line-height: 1;
	text-align: center;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	transition: 0.2s linear;
}
.portfolio-item figure .badge, .portfolio-item figure .img-title {
	position: absolute;
	opacity: 1;
	transition: 0.2s linear;
}
.portfolio-item figure .badge {
	position: absolute;
	left: 50%;
	width: auto;
	transform: translateX(-50%);
	top: 30%;
}
.portfolio-item figure .img-title {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	line-height: 1;
}
.portfolio-item figure h3.img-title {
	margin: 0;
	padding: 0;
	line-height: 1;
	color: #ffffff;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}
.portfolio-item figure .link-preview i, .portfolio-item figure .link-details i {
	padding-top: 6px;
	font-size: 22px;
	color: rgba(255,255,255,1.0);
}
.portfolio-item figure .link-preview:hover, .portfolio-item figure .link-details:hover {
	background: #00bcd4;
}
.portfolio-item figure .link-preview:hover i, .portfolio-item figure .link-details:hover i {
	color: #fff;
}
.portfolio-item figure .link-preview {
	left: calc(50% - 38px);
	top: 70%;
}
.portfolio-item figure .link-details {
	right: calc(50% - 38px);
	top: 70%;
}
.portfolio-item figure:hover .link-preview {
	opacity: 1;
	left: calc(50% - 44px);
}
.portfolio-item figure:hover .link-details {
	opacity: 1;
	right: calc(50% - 44px);
}
.portfolio-item .portfolio-info {
	background: #fff;
	text-align: center;
	padding: 30px;
	height: 90px;
	border-radius: 6px;
}
.portfolio-item .portfolio-info h4 {
	font-size: 18px;
	line-height: 1px;
	font-weight: 700;
	margin-bottom: 18px;
	padding-bottom: 0;
}
.portfolio-item .portfolio-info h4 a {
	color: #333;
}
.portfolio-item .portfolio-info h4 a:hover {
	color: #18d26e;
}
.portfolio-item .portfolio-info p {
	padding: 0;
	margin: 0;
	color: #b8b8b8;
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
}
